.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
*.jpg
Output.txt
marker.py
import os, sys.py
import numpy as np.py
OutputNE.txt
result.png
notes_extractor - Kopie.py
Outputall
Outputall.txt
result.txt
Output/Output (*).txt
Output/Output_corr (*).txt
Output/Output_corr.txt
Output/Outputall (*).txt

